/*
@keyframes  {
	0% {
		background-color: rgb(5, 255, 5);
	}
	50% {
		background-color: rgb(255, 0, 128);
	}
	100% {
		background-color: rgb(5, 255, 5);
	}
}
*/

.title {
	text-align: center;
	font-size: 30px;
	font-family: garamond, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	animation: heat 3s infinite;
	border-radius: 30px;
	color: white;
	padding-bottom: 20px;
	margin: 0px;
	border: solid 10px #e85285;
	margin-bottom: 0px;
	background: linear-gradient(to top, #923061, #43105c);
}

.summer {
	font-size: 30px;
	color: white;
	font-family: cursive;

	margin: 0px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

body {
	background: linear-gradient(to top, #43105c, #e16cad);
}

.mat {
	color: #edc3b9;
	padding-top: 30px;
	margin: 0px;
	padding-bottom: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.handy {
	text-align: center;
	margin-top: 50px;
	font-family: copperplate;
	font-size: 30px;
	background-color: #43105c;
	color: #e85285;
	padding: 40px;
	display: inline-block;
	margin-left: 46vh;
	margin-right: 46vh;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 10px;
	animation: move 6s infinite;
	border: solid 5px #923061;
	transition: 3s;
	margin-bottom: 5px;
}

.handy:hover {
	background-color: #e85285;
	color: #43105c;
	border: solid 5px #43105c;
}

@keyframes move {
	0% {
		text-align: center;
	}
	25% {
		text-align: right;
	}
	50% {
		text-align: center;
	}
	75% {
		text-align: left;
	}
	100% {
		text-align: center;
	}
}

button {
	background-color: #420547;
	border-radius: 20px;
	cursor: pointer;
	border: 2px solid #edc3b9;
	font-family: helvetica;
	font-weight: bold;
	font-size: 20px;
	padding-left: 10vh;
	padding-right: 10vh;
	transition: 0.7s;
	color: #e16cad;
}

button:hover {
	background-color: #edc3b9;
	border-radius: 20px;
	cursor: pointer;
	border: 2px solid #ff0080;
	font-family: helvetica;
	font-weight: bold;
	font-size: 20px;
	color: #43105c;
	box-shadow: -3px 3px 5px lightpink;
}

.rigth {
	margin-left: 6vh;
}

.buttons {
	background: linear-gradient(to right, #43105c, #e85285);
	padding: 20px;
	border-radius: 50px;
	border: solid 3px rgb(244, 58, 58);
	margin-bottom: 35vh;
}

h4 {
	text-align: center;
	background: linear-gradient(to bottom, #43105c, #923061);
	color: rgb(255, 0, 128);
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	font-size: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	border: dashed 5px #43105c;
	margin-left: 54vh;
	font-family: copperplate;
	margin-top: 5px;
}
